:root {
    --primary-color: #2A83FC;
    --secondary-color: #080606;
    --font-family-main: 'Inter';
    --font-family-alt: 'Cascadia Code';
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffd3d3;
    font-family: var(--font-family-main);
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    width: 1080px;
    position: relative;
}

.header,
.event-type,
.title-sub,
.section-heading,
.body-text,
.venue,
.date,
.time,
.socials,
.social-handle {
    position: absolute;
    left: 200px;
}

.header {
    z-index: 1000;
    top: 160px;
    width: 390px;
    height: 60px;
}

.university-name {
    color: var(--primary-color);
    margin-left: 60px;
    font-size: 22px;
    margin-top: -15px;
}

.event-type,
.section-heading,
.venue {
    font-family: var(--font-family-alt);
    color: var(--primary-color);
    font-size: 22px;
}

.event-type {
    top: 300px;
}

.title-sub {
    font-family: var(--font-family-alt);
    color: var(--secondary-color);
    top: 380px;
}

.title {
    font-size: 36px;
    color: var(--primary-color);
}

.sub-title {
    font-size: 20px;
    max-width: 70%;
}

.section-heading {
    top: 510px;
}

.body-text {
    font-family: var(--font-family-alt);
    color: var(--secondary-color);
    top: 560px;
    max-width: 40%;
}

.venue {
    bottom: 220px;
}

.date,
.time {
    font-family: var(--font-family-alt);
    color: var(--secondary-color);
    bottom: 190px;
}

.time {
    left: 350px;
}

.socials,
.social-handle {
    bottom: 120px;
}

.social-handle {
    left: 350px;
    color: var(--secondary-color);
    font-family: var(--font-family-alt);
}